<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Nome da aplicação -->
      <a class="navbar-brand" href="#">Formulários</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- Opções do menu -->
      <ul class="nav navbar-nav">
        <!-- Opção 1 -->
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/filmes/novo">Novo Filme</a>
        </li>
        <!-- Fim da opção 1 -->
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/filmes">Consultar Filmes</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/pokemons">Pokemons</a>
        </li>
      </ul>
    </div>
  </div>
</nav>