<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOME</th>
      <th>GENERO</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let filme of filmes">
      <td>{{filme.id}}</td>
      <td>{{filme.nome}}</td>
      <td>{{filme.generos}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="ver(filme)">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>