<h2>Dados do Filme:</h2>
<div class="row">
  <div class="col-xs-3">ID</div>
  <div class="col-xs-9  pull-left">{{ filme.id }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Nome</div>
  <div class="col-xs-9  pull-left">{{ filme.nome }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Ano</div>
  <div class="col-xs-9  pull-left">{{ filme.ano }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Genero</div>
  <div class="col-xs-9  pull-left">{{ filme.Genero }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Descricao</div>
  <div class="col-xs-9  pull-left">{{ filme.descricao }}</div>
</div>