<div [hidden]="!carregando">
  <h3>Aguarde, carregando ...</h3>
</div>
<div [hidden]="carregando">
  <h3>{{pokemons.length}} pokemons carregados</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>FOTO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td>{{pokemon.id}}</td>
        <td>{{pokemon.nome}}</td>
        <td><img [src]="pokemon.imagem"></td>
      </tr>
    </tbody>
  </table>  
</div>