<h2>Dados do aluno:</h2>
<div class="row">
  <div class="col-xs-3">ID</div>
  <div class="col-xs-9  pull-left">{{ aluno.id }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Nome</div>
  <div class="col-xs-9  pull-left">{{ aluno.nome }}</div>
</div>
<div class="row">
  <div class="col-xs-3">CPF</div>
  <div class="col-xs-9  pull-left">{{ aluno.cpf }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Email</div>
  <div class="col-xs-9  pull-left">{{ aluno.email }}</div>
</div>
<div class="row">
  <div class="col-xs-3">Curso</div>
  <div class="col-xs-9  pull-left">{{ aluno.curso }}</div>
</div>